<div class="container-fluid">

  <app-page-title title="Games" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box mr-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-right">
                <button type="button" (click)="openModal(largeDataModal,null)"
                  class="btn btn-success btn-rounded mb-2 mr-2">
                  <i class="mdi mdi-plus mr-1"></i> New Game
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div>{{statusMessage}}</div>
          <div class="table-responsive">
            <table class="table table-centered table-nowrap">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <th>Game Name</th>
                  <!-- <th>Cell 1 Value</th>
                  <th>Cell 2 Value</th>
                  <th>Cell 3 Value</th>
                  <th>Cell 4 Value</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let game of gameInfo  | filter:term ;let i = index;">
                  <td><a [routerLink]="['/gamestart/', game.gameID]">{{game.gameName}}</a></td>

                  <!-- <td>{{game.cell1Value}}</td>
                  <td>{{game.cell2Value}}</td>
                  <td>{{game.cell3Value}}</td>
                  <td>{{game.cell4Value}}</td> -->
                  <td>
                    <div class="dropdown" ngbDropdown placement="bottom-right">
                      <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                        ngbDropdownToggle aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <li><a (click)="openModal(largeDataModal,game)" class="dropdown-item"><i
                              class="fas fa-pencil-alt text-success mr-1"></i>
                            Edit</a></li>
                        <li><a (click)="deleteGame(game)" class="dropdown-item"><i
                              class="fas fa-trash-alt text-danger mr-1"></i>
                            Delete</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <ngb-pagination [collectionSize]="totalPages" [(page)]="currentpage"
            class="pagination pagination-rounded justify-content-end mb-2" aria-label="Default pagination">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- Large Modal -->
<ng-template #largeDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Edit Game</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">


        <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
          <div class="form-group">
            <label>Game Name</label>
            <input type="text" class="form-control" formControlName="gameName"
              [ngClass]="{'is-invalid': typesubmit && type.gameName.errors}" placeholder="Enter game name" />
            <div *ngIf="typesubmit && type.gameName.errors" class="invalid-feedback">
              <span *ngIf="type.gameName.errors.required">Game name is required.</span>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-centered table-nowrap">
              <thead>
                <th *ngFor="let column of tableHeader">
                  {{column}}
                </th>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let row of tableArray; let i = index">
                  <td *ngFor="let column of tableHeader; let j = index" (click)="clickedEvent(i,j,$event)"
                    [class.active]="highlightedColArray.indexOf(j)>-1 && highlightedRowArray.indexOf(i)>-1">
                    {{row[column]}}
                  </td>
                </tr> -->
                <tr *ngFor="let row of tableArray; let i = index">
                  <td *ngFor="let column of tableHeader; let j = index" (click)="clickedEvent(i,j,$event)">
                    {{row[column]}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="form-group">
            <label>Cell 1 Value</label>
            <input type="text" class="form-control" formControlName="cell1Value"
              [ngClass]="{'is-invalid': typesubmit && type.cell1Value.errors}" placeholder="Enter cell 1 value" />
            <div *ngIf="typesubmit && type.cell1Value.errors" class="invalid-feedback">
              <span *ngIf="type.cell1Value.errors.required">Cell 1 value is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Cell 2 Value</label>
            <input type="text" class="form-control" formControlName="cell2Value"
              [ngClass]="{'is-invalid': typesubmit && type.cell2Value.errors}" placeholder="Enter cell 2 value" />
            <div *ngIf="typesubmit && type.cell2Value.errors" class="invalid-feedback">
              <span *ngIf="type.cell2Value.errors.required">Cell 2 value is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Cell 3 Value</label>
            <input type="text" class="form-control" formControlName="cell3Value"
              [ngClass]="{'is-invalid': typesubmit && type.cell3Value.errors}" placeholder="Enter cell 3 value" />
            <div *ngIf="typesubmit && type.cell3Value.errors" class="invalid-feedback">
              <span *ngIf="type.cell3Value.errors.required">Cell 3 value is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Cell 4 Value</label>
            <input type="text" class="form-control" formControlName="cell4Value"
              [ngClass]="{'is-invalid': typesubmit && type.cell4Value.errors}" placeholder="Enter cell 4 value" />
            <div *ngIf="typesubmit && type.cell4Value.errors" class="invalid-feedback">
              <span *ngIf="type.cell4Value.errors.required">Cell 4 value is required.</span>
            </div>
          </div> -->
          <div class="form-group mb-0">
            <div>
              <button type="submit" class="btn btn-primary mr-1">
                Submit
              </button>
              <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-secondary">
                Cancel
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</ng-template>