<div class="container-fluid">

  <app-page-title title="Games" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box mr-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8" *ngIf="isAdmin">
              <div class="text-sm-right">
                <button type="button" (click)="openModal(largeDataModal,null)"
                  class="btn btn-success btn-rounded mb-2 mr-2">
                  <i class="mdi mdi-plus mr-1"></i> New Game
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div>{{statusMessage}}</div>
          <div class="table-responsive">
            <table class="table table-centered table-nowrap">
              <thead>
                <tr>
                  <th>Game Name</th>
                  <th>Winning Numbers</th>
                  <th>Start Date & Time</th>
                  <th>End Date & Time</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let game of gameInfo  | filter:term ;let i = index;">
                  <td><a [routerLink]="['/gamestart/', game.gameID]">{{game.gameName}}</a></td>

                  <td>
                    <div *ngFor="let value of game.winValueList" class="inlineDivs">{{value===-1?'':value}}</div>
                  </td>
                  <td>{{game.startDateAndTime}}</td>
                  <td>{{game.endDateAndTime}}</td>
                  <!-- <td>10</td> -->
                  <td>
                    <a [routerLink]="['/gamestart/', game.gameID]" title="Start" class="inlineItem"><i
                        class="fas fa-hourglass-start mr-1"></i>
                    </a>
                    <a (click)="openModal(largeDataModal,game)" title="Edit" class="inlineItem" *ngIf="isAdmin"><i
                        class="fas fa-pencil-alt text-success mr-1"></i>
                    </a>
                    <a (click)="deleteGame(game)" title="Delete" class="inlineItem" *ngIf="isAdmin"><i
                        class="fas fa-trash-alt text-danger mr-1"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- pagination -->
          <ngb-pagination [collectionSize]="totalPages" [(page)]="currentpage"
            class="pagination pagination-rounded justify-content-end mb-2" aria-label="Default pagination">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- Large Modal -->
<ng-template #largeDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Edit Game</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">


        <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
          <div class="p-fluid p-grid p-formgrid">
            <div class="p-field p-col-12">
              <label for="gameName">Game Name</label>
              <input type="text" inputId="gameName" class="form-control" formControlName="gameName"
                [ngClass]="{'is-invalid': typesubmit && type.gameName.errors}" placeholder="Enter game name" />
              <div *ngIf="typesubmit && type.gameName.errors" class="invalid-feedback">
                <span *ngIf="type.gameName.errors.required">Game name is required.</span>
              </div>
            </div>
            <div class="p-field p-col-12">
              <label for="startDate">Start Date</label>
              <p-calendar formControlName="startDate" inputId="startDate" [showIcon]="true" showButtonBar="true">
              </p-calendar>
            </div>
            <div class="p-field p-col-12">
              <label for="startTime">Start Time</label>
              <p-calendar formControlName="startTime" [timeOnly]="true" inputId="startTime">
              </p-calendar>
            </div>
            <div class="p-field p-col-12">
              <label for="endDate">End Date</label>
              <p-calendar formControlName="endDate" inputId="endDate" [showIcon]="true" showButtonBar="true">
              </p-calendar>
            </div>
            <div class="p-field p-col-12">
              <label for="endTime">End Time</label>
              <p-calendar formControlName="endTime" [timeOnly]="true" inputId="endTime"></p-calendar>
            </div>
            <div class="form-group mb-0">
              <div>
                <button type="submit" class="btn btn-primary mr-1">
                  Submit
                </button>
                <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-secondary">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</ng-template>