.table tr td.active {  
    background-color:#48da24 !important;  
    color: white;  
  }
  .table tr td {  
    cursor: pointer;
  }
  .inlineItem {
    margin-right: 3px;
  }
  .winnerNumberIncomplete{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #f46a6a;
  }