<div class="home-btn d-none d-sm-block">
  <a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Free Register</h5>
                  <p>Get your free Skote account now.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">

              <form class="form-horizontal" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                novalidate>

                <ngb-alert type="success" *ngIf="successmsg" [dismissible]="false">Registeration successfull.
                </ngb-alert>

                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="form-group mb-3">
                  <label for="FirstName">First Name</label>

                  <input type="text" formControlName="FirstName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" id="FirstName"
                    placeholder="Enter first name" />

                  <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                    <div *ngIf="f.FirstName.errors.required">First name is required</div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="LastName">Last Name</label>

                  <input type="text" formControlName="LastName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" id="LastName"
                    placeholder="Enter last name" />

                  <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                    <div *ngIf="f.LastName.errors.required">Last name is required</div>
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="Email">Email</label>

                  <input type="email" formControlName="Email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" id="Email" placeholder="Email" />

                  <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                    <div *ngIf="f.Email.errors.required">Email is required</div>
                    <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group mb-3">
                  <label for="Phone">Phone</label>

                  <input type="text" formControlName="Phone" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" id="Phone" placeholder="Phone" />

                  <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                    <div *ngIf="f.Phone.errors.required">Phone is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Password">Password</label>

                  <input type="password" formControlName="Password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" id="Password" placeholder="Password" />

                  <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                    <div *ngIf="f.Password.errors.required">Password is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="confirmpwd">Confirm Password</label>

                  <input type="password" formControlName="confirmpwd" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmpwd.errors }" id="confirmpwd"
                    placeholder="Confirm Password" />

                  <div *ngIf="submitted && f.confirmpwd.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmpwd.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmpwd.errors.mustMatch">Password and confirm password should be same</div>
                  </div>
                </div>
                <div class="mt-4">
                  <button class="btn btn-primary btn-block" type="submit">Register</button>
                </div>
                <!-- <div class="mt-4 text-center">
                  <p class="mb-0">By registering you agree to the Skote <a href="javascript: void(0);"
                      class="text-primary">Terms of
                      Use</a></p>
                </div> -->
              </form>
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>Already have an account ? <a routerLink="/account/login" class="font-weight-medium text-primary"> Login</a>
          </p>
          <!-- <p>© {{year}} Skote. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p> -->
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->