<div class="container-fluid">

  <app-page-title title="Game" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-6">
              <ngb-alert type="danger" *ngIf="error">{{ error }}</ngb-alert>
              <h4>
                {{isGameStart?'Please select columns':isGamePause?'You cannot select the columns for now !!!':isGameFinish?'Game is over, now you have to wait for winner !!!':'Please wait once administrator starts the game'}}
              </h4>
              <hr />
              <h6>
                Total Coins: <span id="lblTotalCoins{{currentUserID}}">0</span>, Used Coins: <span
                  id="lblUsedCoins{{currentUserID}}">0</span>, Remaining Coins: <span
                  id="lblRemainingCoins{{currentUserID}}">0</span>
              </h6>
              <hr />

            </div>
            <div class="col-sm-6" *ngIf="isAdmin">
              <div class="text-sm-right">
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" *ngIf='ShowStartButton()'
                  (click)="ChangeGameStatus('start')">
                  Start Game
                </button>
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" *ngIf='ShowPauseButton()'
                  (click)="ChangeGameStatus('pause')">
                  Pause Game
                </button>
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="ChangeGameStatus('finish')"
                  *ngIf='ShowEndButton()'>
                  Finish Game
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table id="tblGameValues" class="table table-centered table-nowrap">
              <thead>
                <tr>
                  <th *ngFor="let column of tableHeader; let i = index" (click)="clickedEvent($event)" [ngClass]="{
                    'active' : AllConfirmedValues.indexOf(i+1)>-1,
                    'current': AllNotConfirmedValues.indexOf(i+1)>-1
                 }">
                    {{column}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr id="tr_{{i}}" *ngFor="let row of tableArray; let i = index">
                  <td id="td_{{i}}_{{column}}" *ngFor="let column of tableHeader; let j = index" [ngClass]="{
                    'borderRightAndLeftGreen' : AllConfirmedValues.indexOf(j+1)>-1,
                    'borderRightAndLeft': AllNotConfirmedValues.indexOf(j+1)>-1
                 }">
                    {{row[column]}}
                  </td>
                </tr>
              </tbody>
              <tfoot *ngIf="isGameFinish">
                <th *ngFor="let item of tableFooter; let i = index" [ngClass]="{
                  'match6' : item === 6,
                  'match5' : item === 5,
                  'match4' : item === 4,
                  'match3' : item === 3,
                  'match2' : item === 2,
                  'match1' : item === 1,
                  'match0' : item === 0
               }">
                  {{item}}
                </th>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
  <div class="row" *ngIf='AllRowsNotConfirmedValuesByUser.length>0 '>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4>Please confirm the below columns of your game</h4>
          <hr />
          <div>{{message}}</div>
          <div *ngFor="let item of AllRowsNotConfirmedValuesByUser">
            <div *ngFor="let value of item" class="inlineDivs">
              {{value}}
            </div>
            <br /><br />
          </div>
          <br /><br />
          <button class="btn btn-primary" type="button" (click)="ConfirmValues()">Confirm Value</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isAdmin && isGameFinish">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-8" *ngIf="isAdmin">
              <div class="text-sm-right">
                <button type="button" (click)="openModal(largeDataModal)" class="btn btn-success btn-rounded mb-2 mr-2">
                  <i class="mdi mdi-plus mr-1"></i> Add/Update LOTO Numbers
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isGameFinish">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <h4>LOTO Numbers from TV</h4>
                  <hr />
                  <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                      <tbody>
                        <tr *ngFor="let column of WinListArray; let j = index">
                          <td *ngIf="column!==-1">
                            {{column}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Players with selected columns</h4>
                  <hr />
                  <div *ngFor="let item of AllRowsConfirmedValues; let i = index">
                    <label>{{item.userName}}</label>
                    <br>
                    <hr />
                    <div *ngFor="let value of item.userCols" class="inlineDivs">{{value===-1?'':value}}</div>
                    <br>
                    <br>
                    <hr />
                  </div>
                  <!-- <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                      <thead>
                        <tr>
                          <th *ngFor="let item of AllRowsConfirmedValues; let i = index">
                            {{item.userName}}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td *ngFor="let item of AllRowsConfirmedValues; let i = index">
                            <div *ngFor="let value of item.userCols" class="inlineDivs">{{value===-1?'':value}}</div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div> -->
                </div>
              </div>

            </div>
            <div class="col-8">
              <h4>Statistic</h4>
              <hr />
              <div class="table-responsive">
                <table class="table table-centered table-nowrap">
                  <thead>
                    <tr>
                      <th *ngFor="let item of resultColHeader; let i = index" [ngClass]="{
                        'match6' : item === 6,
                        'match5' : item === 5,
                        'match4' : item === 4,
                        'match3' : item === 3,
                        'match2' : item === 2,
                        'match1' : item === 1,
                        'match0' : item === 0
                     }">
                        {{item}}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th *ngFor="let item of ColValuesArray; let i = index" class="result">
                        <b>{{item.countOfMatchedCol}}</b>
                      </th>
                    </tr>
                    <tr *ngFor="let row of resultColBody; let i = index">
                      <td *ngFor="let column of resultColTable; let j = index">
                        {{row[column]==-1?'':row[column]}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #largeDataModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Edit Game</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">


        <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">

          <div class="form-group">
            <label>Win Value 1</label>
            <input type="number" class="form-control" formControlName="winValue1"
              [ngClass]="{'is-invalid': typesubmit && type.winValue1.errors}" placeholder="Enter Win Value 1" />
            <div *ngIf="typesubmit && type.winValue1.errors" class="invalid-feedback">
              <span *ngIf="type.winValue1.errors.required">Win Value 1 is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Win Value 2</label>
            <input type="number" class="form-control" formControlName="winValue2"
              [ngClass]="{'is-invalid': typesubmit && type.winValue2.errors}" placeholder="Enter Win Value 2" />
            <div *ngIf="typesubmit && type.winValue2.errors" class="invalid-feedback">
              <span *ngIf="type.winValue2.errors.required">Win Value 2 is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Win Value 3</label>
            <input type="number" class="form-control" formControlName="winValue3"
              [ngClass]="{'is-invalid': typesubmit && type.winValue3.errors}" placeholder="Enter Win Value 3" />
            <div *ngIf="typesubmit && type.winValue3.errors" class="invalid-feedback">
              <span *ngIf="type.winValue3.errors.required">Win Value 3 is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Win Value 4</label>
            <input type="number" class="form-control" formControlName="winValue4"
              [ngClass]="{'is-invalid': typesubmit && type.winValue4.errors}" placeholder="Enter Win Value 4" />
            <div *ngIf="typesubmit && type.winValue4.errors" class="invalid-feedback">
              <span *ngIf="type.winValue4.errors.required">Win Value 4 is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Win Value 5</label>
            <input type="number" class="form-control" formControlName="winValue5"
              [ngClass]="{'is-invalid': typesubmit && type.winValue5.errors}" placeholder="Enter Win Value 5" />
            <div *ngIf="typesubmit && type.winValue5.errors" class="invalid-feedback">
              <span *ngIf="type.winValue5.errors.required">Win Value 5 is required.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Win Value 6</label>
            <input type="number" class="form-control" formControlName="winValue6"
              [ngClass]="{'is-invalid': typesubmit && type.winValue6.errors}" placeholder="Enter Win Value 6" />
            <div *ngIf="typesubmit && type.winValue6.errors" class="invalid-feedback">
              <span *ngIf="type.winValue6.errors.required">Win Value 6 is required.</span>
            </div>
          </div>
          <div class="form-group mb-0">
            <div>
              <button type="submit" class="btn btn-primary mr-1">
                Submit
              </button>
              <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-secondary">
                Cancel
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</ng-template>