.table tr .active {  
    background-color:#48da24 !important;  
    color: white;  
  }
  .winningCells {  
    background-color:#347a23 !important;  
    color: white;  
  }
  .table tr .current {  
    background-color:#808080 !important;  
    color: white;  
  }
  .table tr th {  
    cursor: pointer;
  }
  .inlineDivs {
    width: 50px;
    height: 50px;
    /* border-radius: 6px 12px 18px 24px; */
    background-color: #296b97 !important;
    color: white;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    padding-top: 15px;
  }
  .borderRightAndLeft{
    border-right: 2px solid #808080;
    border-left: 2px solid #808080;
  }
  .borderRightAndLeftGreen{
    border-right: 2px solid #48da24;
    border-left: 2px solid #48da24;
  }
  ul#user-list li {
    width: auto;
    height: 34px;
    background-color: #296b97 !important;
    color: white;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    padding-top: 9px;
    padding-left: 3px;
    padding-right: 3px;
  }
  ul#values-list li {
    width: auto;
    height: 34px;
    background-color: #296b97 !important;
    color: white;
    margin-right: 5px;
    text-align: center;
    padding-top: 9px;
    padding-left: 3px;
    padding-right: 3px;
  }
  ul#values-list{
    display: inline-block;
  }
  .match6{
    background-color:#165706 !important;  
    color: white;  
  }
  .match5{
    background-color:#46e020 !important;  
    color: white;  
  }
  .match5{
    background-color:#e0b320 !important;  
    color: black;  
  }
  .match4{
    background-color:#f3cca7 !important;  
    color: black;  
  }
  .match3{
    background-color:#fadec4 !important;  
    color: black;  
  }
  .match2{
    background-color:yellow !important;  
    color: black;  
  }
  .match1{
    background-color:rgb(241, 123, 123) !important;  
    color: black;  
  }
  .match0{
    background-color:red !important;  
    color: black;  
  }
  .result{
    background-color:rgb(0, 153, 255) !important;  
    color: white;  
  }