.table tr td.active {  
    background-color:#48da24 !important;  
    color: white;  
  }
  .table tr td.current {  
    background-color:#808080 !important;  
    color: white;  
  }
  .table tr td {  
    cursor: pointer;
  }