.table tr .active {  
    background-color:#48da24 !important;  
    color: white;  
  }
  .table tr .current {  
    background-color:#808080 !important;  
    color: white;  
  }
  .table tr th {  
    cursor: pointer;
  }
  .inlineDivs {
    width: 50px;
    height: 50px;
    /* border-radius: 6px 12px 18px 24px; */
    background-color: #296b97 !important;
    color: white;
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    padding-top: 15px;
  }
  .borderRightAndLeft{
    border-right: 5px solid #808080;
    border-left: 5px solid #808080;
  }