<div class="container-fluid">

  <app-page-title title="Update passowrd" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">

          <div>{{statusMessage}}</div>
          <form (ngSubmit)="typeResetPasswordSubmit()" [formGroup]="typeResetPasswordForm">
            <div class="form-group" style="display: none;">
              <label>User ID</label>
              <input type="hidden" class="form-control" formControlName="userID"
                [ngClass]="{'is-invalid': typeResetPasswordsubmit && resetType.userID.errors}" placeholder="" />
              <div *ngIf="typeResetPasswordsubmit && resetType.userID.errors" class="invalid-feedback">
                <span *ngIf="resetType.userID.errors.required">User ID is required.</span>
              </div>
            </div>
            <div class="form-group">
              <label>Current password</label>
              <input type="password" class="form-control" formControlName="oldPassword"
                [ngClass]="{'is-invalid': typeResetPasswordsubmit && resetType.oldPassword.errors}"
                placeholder="Enter old password" />
              <div *ngIf="typeResetPasswordsubmit && resetType.oldPassword.errors" class="invalid-feedback">
                <span *ngIf="resetType.oldPassword.errors.required">Please enter your old password</span>
              </div>
            </div>
            <div class="form-group">
              <label>New Password</label>
              <input type="password" class="form-control" formControlName="newPassword"
                [ngClass]="{'is-invalid': typeResetPasswordsubmit && resetType.newPassword.errors}"
                placeholder="Enter new password" />
              <div *ngIf="typeResetPasswordsubmit && resetType.newPassword.errors" class="invalid-feedback">
                <span *ngIf="resetType.newPassword.errors.required">Please enter new password</span>
              </div>
            </div>
            <div class="form-group">
              <label>Confirm password</label>
              <input type="password" class="form-control" formControlName="confimPassword"
                [ngClass]="{'is-invalid': typeResetPasswordsubmit && resetType.confimPassword.errors}"
                placeholder="Enter confirm password" />
              <div *ngIf="typeResetPasswordsubmit && resetType.confimPassword.errors" class="invalid-feedback">
                <span *ngIf="resetType.confimPassword.errors.required">Please enter password</span>
                <span *ngIf="resetType.confimPassword.errors.mustMatch">New Password and confirm password should be
                  same</span>
              </div>
            </div>
            <div class="form-group mb-0">
              <div>
                <button type="submit" class="btn btn-primary mr-1">
                  Submit
                </button>
                <button type="button" class="btn btn-secondary">
                  Cancel
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>